Box{

}

.left-box{
    background-color: #29B35B;
    color: #FFFFFF;
    height: 70vh;
    margin-right: 5vh;
    border-radius: 11px;
}

.right-box{
    height: 70vh;
    background: #DBDBDB;
    border-radius: 11px;
}

.right-top-box{
    margin-bottom: 5vh;
}


.right-bottom-box{
    margin-top: 5vh;
}

p{
    font-family: "Open Sans";
    font-size: 20pt;
}

textarea{
    width:80%;
}